@model MongoFinal.Models.Applicants
<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
</head>

<body>
    <h1>Statistics</h1>
    <h2>Average ENT score by City</h2>
    <p>Алматы - @ViewData["Алматы"]</p>
    <p>Нурсултан - @ViewData["Нурсултан"]</p>
    <p>Атырау - @ViewData["Атырау"]</p>
    <p>Актау - @ViewData["Актау"]</p>
    <p>Шымкент - @ViewData["Шымкент"]</p>
    <p>Актобе - @ViewData["Актобе"]</p>
    <p>Семей - @ViewData["Семей"]</p>
    <p>Ускаман - @ViewData["Ускаман"]</p>
    <p>Караганда - @ViewData["Караганда"]</p>
    <p>Кызылорда - @ViewData["Кызылорда"]</p>
    <p>Кентау - @ViewData["Кентау"]</p>
    <p>Узынагаш - @ViewData["Узынагаш"]</p>
    <p>Талдыкорган - @ViewData["Талдыкорган"]</p>
    <p>Жезказган - @ViewData["Жезказган"]</p>
    <p>Туркистан - @ViewData["Туркистан"]</p>
    <p>Павлодар - @ViewData["Павлодар"]</p>
    <p>Орал - @ViewData["Орал"]</p>
    <p>Петропаволск - @ViewData["Петропаволск"]</p>
    <p>Аркалык - @ViewData["Аркалык"]</p>
    <p>Темиртау - @ViewData["Темиртау"]</p>
    <p>Тараз - @ViewData["Тараз"]</p>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
